{% extends 'base.html.twig' %}

{% block title %}Détails de l'abonnement{% endblock %}

{% block body %}
    <div style="margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;">
        <h1>Détails de l'abonnement</h1>
        <p>Ce message amical provient de :</p>
        <ul>
            <li>Votre contrôleur à <code>/var/www/html/symfonyS6/appS6/src/Controller/SubscriptionsController.php</code></li>
            <li>Votre modèle à <code>/var/www/html/symfonyS6/appS6/templates/subscription/index.html.twig</code></li>
        </ul>
    </div>
{% endblock %}
